body{
    margin: 0;
    padding: 0;
    background-color:rgb(229, 97, 97) ;
    border:10px solid rgb(229, 97, 97);
    border-bottom: 0px;
    font-family: comic sans-serif;
}
/*Header*/
#headerContainer{
    border:10px solid black;
    background-color: white;
    height: 16vh;
    padding: 0.5vh;

}    
#contactsContainer{
    display: flex;
    align-items: center;
    padding: 0.5vh;
    margin-right: 5px;
}
#Contacts {
    display: flex;  
    align-items: center;
    justify-content: space-between;
}
.contactIcons {
    width: 20px;
    height: auto;
}
#Barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh;
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(229, 97, 97) ;
    border: 1;
    border-radius: 10px;
    font-size: 17px;
    border-color: black;
    border-style: solid; 
    height:7vh;
    width: auto;
}
button:hover{
    background-color: rgb(223, 47, 47);
}
img{
    display: flex;
    width: auto;
    height: 10vh;
}
#cadeira{
    width: 2vw;
    height: 5vh;
    margin-left: 2vh;
}
/*chefs*/
#chefs{
    background-color: white;
    border: 10px solid black;
    height: auto;
}
#title{
    display: flex;
    justify-content: center;
}
#chefsContainer{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    
}
#chef{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chefImage{
    width: 40vh;
    height: auto;
    border: 4px solid black;
    margin: 2vh;
}
#infoContainer{
    width: 37vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#foodContainer{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border:10px solid black;
    
}
#foodText{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#foodImageContainer{
    display: flex;
    margin: 10px;
    flex-direction: row;
    border: 4px solid black ;

}
#foodImage{
    display: flex;
    font-size: 3vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black ;
    padding: 5vh;
    width: 30vh;
    height: auto;
}
#footer{
    border:10px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
    background-color: white;
    padding: 10px;
}
#footerContentContainer{
    display: flex;
    flex-direction: column
}

/* igor.html; marcio.html; fernando.html; style*/
#chefInfo{
    background-color: white ;
    border:10px solid black;
    display: flex;
    justify-content: space-around;
    
}
#chefText{
    width: 90vh;
    font-size: 2.5vh;
}